body
	background #fafafa
	font-family: Helvetica,STHeiti,Droid Sans Fallback;
.fix
	position fixed
	bottom 0
	left 0
	width 100%
	height 2.8125rem
	background-color rgba(0,0,0,.5)
	padding 0.5rem 0.9375rem
	z-index 999
	& .le
		width 1.875rem
		height 1.875rem
		float left
		background-image url(http://mat1.gtimg.com/sports/sportAppWeb/kbsshare/statics/kbs-logo_cf8381.png)
		background-size cover
	& .cen
		line-height 1rem
		margin-left 0.5rem
		float left
		color #fafafa
		font-family "Microsoft Yahei"
		 margin-top -0.0625rem
		& h2
			font-size 0.9375rem
		& p	
			font-size 0.75rem	
	& .ri
		float right
		border-radius 0.125rem
		width 3.625rem
		height 1.875rem
		background-color #4998E7
		color #fff
		font-size 0.75rem
		font-family "Microsoft Yahei"
		line-height 1.875rem
		text-align center
		margin-right 1.125rem
	& .la
		float right
		width 0.75rem
		height 0.75rem
		background url(http://mat1.gtimg.com/www/mobi/image/app_close.png) no-repeat
		background-size 100%
		margin 0.5rem 0 0 0
.global
	background #fafafa
	header
		width 100%
		height 2.75rem
		background-image url(http://mat1.gtimg.com/www/mobi/image/headerbg_v2.png)
		background-repeat no-repeat
		background-position 8.6875rem top
		background-size 8.8125rem 2.75rem
		font-size 0
		& a.tit-icon
			display block
			float left
			width 7.4375rem
			height 1.875rem
			background-image url(http://mat1.gtimg.com/www/mobi/image/logo/logo_sports.png)
			background-size cover
			margin 0.4375rem 0 0 0.625rem
		& a.right
			display block
			float right
			margin 0.875rem 0.875rem 0 0
			width 1.375rem
			height 1rem
			background-image url(http://mat1.gtimg.com/www/mobi/image/icon.png)
			background-size 7.4375rem 1.3125rem
			background-position -1.25rem 0
	section
		width 100%
		& .choose
			width 100%
			padding 0.4375rem 0 0.3125rem 0
			background-color #3e86ce
			& .tit-out
				height 1.875rem
				& a
					display block
					font-size 1.125rem
					float left
					width 20%
					height 1.875rem
					line-height 1.875rem
					text-align center
					color #fff
					&.cur
						background #226fbb
		& .banner
			width 100%
			max-height 10.3125rem 
			position relative
			overflow hidden
			text-align center
			& .img
				max-width 100%
			& h2
				width 100%
				text-align center
				padding 0 2rem 0 0
				position absolute
				font-size 1rem
				color #fafafa
				left 0
				bottom 0
				height 2rem
				line-height 2rem
				text-shadow 1px 1px 1px #000
				background -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.9));
		.medal
			width 100%
			padding 5px 7px 0
			& .tit-bg
				width 100%
				border 1px solid #CDDEF0
				border-bottom transparent
				height 1.5625rem
				background url(http://mat1.gtimg.com/www/mobi/image/jpb_hd.png) no-repeat
				background-size cover
				p
					font-size 0.875rem
					font-weight bold
					line-height 1.5625rem
					padding-left 0.375rem
			& .medalNum
				width 100%
				border 1px solid #CDDEF0
				border-top transparent
				height 1.875rem
			
			& a.ad
				margin-top 5px
				display block
				width 100%
				border 1px solid #b5dcf2
				color #0695d7
				height 2.25rem
				padding-left 0.875rem
				background-color #EDFAFF
				& img
					height 2.125rem
					vertical-align middle
					margin-right 0.125rem
				& span
					font-size 0.875rem
					font-family "Microsoft Yahei"
					font-weight bold
	.MainInner
		width 100%
		padding 4px 7px 0
		& a.pub
			display block
			width 100%
			position relative
			padding 0.625rem 0
			border-bottom 1px solid #eceef0
			& img
				 padding 1px 3px
				 border 1px solid #e0e0e0
				 float left
				 width 4.9375rem
				 height 3.6875rem
			& h2
				font-size 0.9375rem
				overflow hidden
				white-space nowrap
				text-overflow ellipsis
				height 1.375rem
				line-height 1.375rem
				padding-left 0.3125rem
				font-weight 400
			& p
				padding-left 5.25rem
				font-size 0.8125rem
				margin-top 0.25rem
				line-height 1.0625rem
				color #878c92
			& span.discuss
				position absolute
				right 0
				bottom 0.25rem
				color #878c92
				& i.pub-i
					display inline-block
					width 0.75rem
					height 0.75rem
					background-image url(http://mat1.gtimg.com/www/mobi/image/icon.png)	
					background-position -5.25rem 0.125rem
					background-size 7.4375rem 1.3123rem
					vertical-align middle
				& i.spec
					display inline-block
					width 3rem
					height 1.75rem
					background-color #4886da
					font-size 1.125rem
					line-height 1.75rem
					text-align center
					color #fafafa
					transform scale(0.5)
					vertical-align middle
					border-radius 0.25rem 
					position relative
					top 0.125rem
				& span
					display inline-block
					font-size .6875em
	.more
		& p
			&:before